<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Welcome file list -->
    <welcome-file-list>
        <welcome-file>home</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InsuranceListController</servlet-name>
        <servlet-class>Controller.InsuranceListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsuranceListController</servlet-name>
        <url-pattern>/insurance-list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PurchaseInsuranceController</servlet-name>
        <servlet-class>Controller.PurchaseInsuranceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchaseInsuranceController</servlet-name>
        <url-pattern>/purchase-insurance</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>Controller.StaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateContractServlet</servlet-name>
        <servlet-class>Controller.CreateContractServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateContractServlet</servlet-name>
        <url-pattern>/CreateContractServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContractManagementServlet</servlet-name>
        <servlet-class>Controller.ContractManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContractManagementServlet</servlet-name>
        <url-pattern>/ContractManagementServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestCreateContract</servlet-name>
        <servlet-class>Controller.TestCreateContract</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestCreateContract</servlet-name>
        <url-pattern>/TestCreateContract</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DebugForm</servlet-name>
        <servlet-class>Controller.DebugForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DebugForm</servlet-name>
        <url-pattern>/DebugForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimpleCreateContract</servlet-name>
        <servlet-class>Controller.SimpleCreateContract</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCreateContract</servlet-name>
        <url-pattern>/SimpleCreateContract</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimpleCreateContractGet</servlet-name>
        <servlet-class>Controller.SimpleCreateContractGet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCreateContractGet</servlet-name>
        <url-pattern>/SimpleCreateContractGet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SimpleCreateContractServlet</servlet-name>
        <servlet-class>Controller.SimpleCreateContractServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCreateContractServlet</servlet-name>
        <url-pattern>/SimpleCreateContractServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestApplicationInsert</servlet-name>
        <servlet-class>Controller.TestApplicationInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestApplicationInsert</servlet-name>
        <url-pattern>/TestApplicationInsert</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestContractInsert</servlet-name>
        <servlet-class>Controller.TestContractInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestContractInsert</servlet-name>
        <url-pattern>/TestContractInsert</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DebugRealData</servlet-name>
        <servlet-class>Controller.DebugRealData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DebugRealData</servlet-name>
        <url-pattern>/DebugRealData</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>TestDBConnection</servlet-name>
        <servlet-class>Controller.TestDBConnection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestDBConnection</servlet-name>
        <url-pattern>/TestDBConnection</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DebugProducts</servlet-name>
        <servlet-class>Controller.DebugProducts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DebugProducts</servlet-name>
        <url-pattern>/DebugProducts</url-pattern>
    </servlet-mapping>

    <!-- Session timeout (120 minutes = 2 hours) -->
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    
    
    <servlet>
        <servlet-name>navigate</servlet-name>
        <servlet-class>Controller.navigate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>Controller.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProduct</servlet-name>
        <servlet-class>Controller.ViewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProduct</servlet-name>
        <servlet-class>Controller.FilterProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>Controller.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>Controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>navigate</servlet-name>
        <url-pattern>/navigate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/create_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProduct</servlet-name>
        <url-pattern>/view_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProduct</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/delete_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/edit_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/update_product</url-pattern>
    </servlet-mapping>


</web-app>
