.footer {
    background-color: var(--dark-navy);
    color: white;
    padding: 50px 0 20px;
}

.footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #adb5bd;
    text-decoration: none;
}


.social-icons a {
    color: white;
    margin-right: 15px;
    font-size: 1.2rem;
}

.footer-bottom {
    border-top: 1px solid #495057;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    color: #adb5bd;
}